
<!-- <div class="form-container"> -->

<%= form_for @user, html: { class: 'sign-up-form' } do |f| %>

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <l1><%= message %></l1>
      <%end%>
    </ul>
  <%end%>

  <p><%= f.text_field :fname, class: 'form-control', autofocus: true, placeholder: 'First Name'%></p>
  <p><%= f.text_field :lname, class: 'form-control', autofocus: true, placeholder: 'Last Name' %></p>
  <p><%= f.text_area :bio, class: 'text_area', autofocus: true, placeholder: 'Tell Us About You' %></p>
  <p><%= f.text_field :location, class: 'form-control', autofocus: true, placeholder: 'Location' %></p>
  <p><%= f.text_field :password, class: 'form-control', autofocus: true, placeholder: 'Password' %></p>
  <p><%= f.text_field :email, class: 'form-control', autofocus: true, placeholder: 'Email' %></p>
  <p><%= f.submit 'Join Now', class: 'submit-btn' %></p>

<% end %>
