<!-- landing page for sign in, sign up andabout/landing page -->
<div class="wrapper">
  <% if current_user %>
  <!-- user homepage -->

    <div class="left-column">
      <div class="profile-container">
        <h2><%= "Hello #{current_user.fname}" %></h2>
      </div>


      <h3>All users</h3>
      <ol>
        <% @users.each do |user| %>
          <li>
            <%= link_to user.fname, user %> |
            <%= user.location %>
          </li>
        <% end %>
      </ol>
    </div>

    <div class="right-column">
      <h3>Friend's Post Feed</h3>

      <ul>
        <% @posts.each do |post| %>
          <%= render partial: 'post', locals: { post: post } %>
        <%end%>
      </ul>

    </div>


  <%else%>
  <!-- if not logged in. -->
    <h1>Welcome to rails_blog</h1>
    <p>A place to share your favorite recipes and connect with other homecooks!</p>
    <div><%= link_to "Sign up", new_user_path %></div>
    <div><%= link_to "Sign in", new_session_path %></div>
  <%end%>
</div>


