<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
      <ul>
  			<% if current_user %>
  				<li>
            <span><%= "Hello #{current_user.fname}" %> |</span>
            <span><%= link_to "Home", users_path %> |</span>
            <span><%= link_to "Profile", current_user %> |</span>
    				<span><%= link_to "Sign out", logout_path, method: :delete %></span>
          </li>
  			<%else%>
  				<li>
            <span><%= link_to "Home", users_path %></span> |

            <span class="sign-in">
              <span class="sign-in-link">Sign In</span>
              <span class="sign-in-container">
                <%= form_tag('/sessions', method: :post) do %>
                  <p><%= text_field_tag 'email', nil, placeholder: 'Email', class: "form-control"%><p/>
                  <p><%= password_field_tag 'password', nil, placeholder: 'Password', class: "form-control" %><p/>
                  <p><%= submit_tag 'Sign In', class: 'submit-btn' %></p>
                <% end %>
              </span> |

              <span class="sign-up">
                <span class="create-link">Create a new account today!<p>
                <%= render 'form' %>
              </span>
            </span>
          </li>
  			<%end%>
      </ul>
		</nav>
	</header>
<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>	
<%= yield %>



</body>
</html>



